@page "/publish"

@using CampingWebAssembly.Services.Interfaces
@using DAL.Models

@inject HttpClient Http
@inject IAuthenticationService AuthService
@inject NavigationManager Navigation

<div style="text-align: center">
	<h1 style="color:#d9d9d9">Publica un campamento</h1>

	<form @onsubmit="CreateCamping" method="post">
		<div class="container">
			<div class="form-group">
				<label for="name" style="color:#d9d9d9">Nombre</label>
				<input type="text" class="form-control" id="name" @bind-value="camping.Name" />
			</div>
			<div class="form-group">
				<label for="locality" style="color:#d9d9d9">Localidad</label>
				<select class="form-select" id="locality" @bind="camping.Locality">
					<option>Valencia</option>
					<option>Castellón</option>
					<option>Alicante</option>
				</select>
			</div>
			<div class="form-group">
				<label for="description" style="color:#d9d9d9">Descripción</label>
				<textarea class="form-control" id="description" rows="3" @bind="camping.Description" />
			</div>
			<div>
				<div class="form-group" style="display:inline-block; float:left; margin-right:30px">
					<label for="price" style="color:#d9d9d9">Precio</label>
					<input type="number" class="form-control" id="price" @bind-value="camping.Price" />
					<label for="capacity" style="color:#d9d9d9">Aforo</label>
					<input type="number" class="form-control" id="capacity" @bind-value="camping.Capacity" />
				</div>
				<div class="form-group" style="display:inline-block; float:left">
					<label for="lat" style="color:#d9d9d9">Latitud</label>
					<input type="number" class="form-control" id="lat" step=".01" @bind-value="camping.CoordY" />
					<label for="long" style="color:#d9d9d9">Longitud</label>
					<input type="number" class="form-control" id="long" step=".01" @bind-value="camping.CoordX" />
				</div>
			</div>
			<br />
			<div class="form-group">
				<label for="services" style="color:#d9d9d9">Servicios</label>
				<RadzenDropDown @bind-Value="campServiceIds" Data="@services" ValueProperty="Id" Name="services"
								Multiple=true AllowClear=true Chips=true>
					<Template>
						@{
							var service = context as Service;
						}
						<img src="data:image/png;base64,@Convert.ToBase64String(service!.Icon)" width="40" height="40" />
					</Template>
				</RadzenDropDown>
			</div>
			<div class="form-group">
				<InputFile OnChange="HandleFileChange" class="form-control" id="images" multiple/>
			</div>
			<button type="submit" class="btn btn-primary" style="background-color:#e1871d; border-color:#e1871d">Publicar</button>
		</div>
		
	</form>

</div>
