@page "/register"

@using CampingWebAssembly.Services.Interfaces

@inject HttpClient Http
@inject IAuthenticationService AuthService
@inject NavigationManager Navigation

<div style="text-align: center">
	<h1 style="color:#d9d9d9">Crea tu cuenta</h1>

	<form @onsubmit="CreateAccount" method="post">
		<div class="container">
			<div class="form-group">
				<label for="name" style="color:#d9d9d9">Nombre</label>
				<input type="text" class="form-control" id="name" @bind-value="user.Name" />
			</div>
			<div class="form-group">
				<label for="email" style="color:#d9d9d9">Correo electrónico</label>
				<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com" @bind-value="user.Mail" />
			</div>
			<div class="form-group">
				<label for="password" style="color:#d9d9d9">Contraseña</label>
				<input type="password" class="form-control" id="password" @bind-value="user.Password" />
			</div>
			<div class="form-group">
				<label for="password2" style="color:#d9d9d9">Repetir contraseña</label>
				<input type="password" class="form-control" id="password2" @bind-value="pswrd" />
			</div>
			<div class="form-group">
				<input type="checkbox" class="form-check-input" id="isResponsible" @bind-value="user.IsResponsible">
				<label for="isResponsible" class="form-check-label" style="color:#d9d9d9">Soy responsable</label>
			</div>
			<button type="submit" class="btn btn-primary" style="background-color:#e1871d; border-color:#e1871d">Registrarse</button>
		</div>
		
	</form>

</div>
