@page "/campings"

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item active" aria-current="page">Campamentos</li>
		</ol>
	</nav>
</div>

@if (showSearchMenu)
{
	<div class="sidebar">
		<h1>Tu vieja</h1>
		<h1>Tu vieja again</h1>
	</div>
}

<div style="text-align: center">
	<h1 style="color:#d9d9d9">Listado de campamentos</h1>

	<h3 style="color:#d9d9d9">Echa un vistazo a los campamentos disponibles</h3>

	<div align="left" style="padding-left:10px; margin-bottom:20px;">
		<Button class="btn btn-primary" style="background-color:#e1871d; border-color:#e1871d"><i class="bi bi-search"></i></Button>
	</div>

	<div class="grid-container">
		<div class="card mx-5" style="width: 18rem;">
			<img src="/images/estanocheoscuratetorturalalocura.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Campamento 1</h5>
				<p class="card-text">Valencia</p>
				<p class="card-text">60€ persona/noche</p>
				<a href="#" class="btn btn-primary align-middle" style="background-color:#e1871d; border-color:#e1871d">Ver más</a>
			</div>
		</div>
	</div>

</div>



