@page "/campings"

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9; margin-bottom:5px;">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item active" aria-current="page">Campamentos</li>
		</ol>
	</nav>
</div>

<div>
	@if (showSearchMenu)
	{
		<div style="float:left; padding:20px; width:fit-content; height:100vh; background-color:#d9d9d9; margin-right:10px">
			<form>
				<div class="form-group">
					<label for="searchName" class="col-form-label-lg">Nombre</label>
					<input type="text" class="form-control form-control-lg" id="searchName" />
				</div>
				<div class="form-group">
					<label for="searchPrice" class="col-form-label-lg">Precio</label>
					<input type="range" class="form-range form-range-lg" min="0" max="250" step="1" id="searchPrice" @bind-value="priceValue"/>
					<i class="mt-2"> &lt; @priceValue €</i>
				</div>
				<div class="form-group">
					<label for="searchPlace" class="col-form-label-lg">Localidad</label>
					<select class="form-select form-select-lg">
						<option selected>Escoge una localidad</option>
						<option value="1">Valencia</option>
						<option value="2">Castellón</option>
						<option value="3">Alicante</option>
					</select>
				</div>
				<div class="form-group">
					<label for="searchCapacity" class="col-form-label-lg">Aforo</label>
					<input type="range" class="form-range form-range-lg" min="0" max="100" id="searchCapacity" />
				</div>
				<div style="text-align:center;">
					<button type="submit" class="btn btn-primary btn-lg" style="background-color:#e1871d; border-color:#e1871d">Buscar</button>
				</div>				
			</form>
		</div>
	}

	<div style="text-align: center; width:100%;">
		<h1 style="color:#d9d9d9">Listado de campamentos</h1>

		<h3 style="color:#d9d9d9">Echa un vistazo a los campamentos disponibles</h3>

		<div align="left" style="padding-left:10px; margin-bottom:20px;">
			<Button class="btn btn-primary" style="background-color:#e1871d; border-color:#e1871d" @onclick="showSearch">
				@if (!showSearchMenu)
				{
					<i class="bi bi-search"></i>
				}
				else{
					<i class="bi bi-x-lg"></i>
				}
			</Button>
		</div>

		<div class="grid-container">
			<div class="card mx-5" style="width: 18rem;">
				<img src="/images/estanocheoscuratetorturalalocura.webp" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Campamento 1</h5>
					<p class="card-text">Valencia</p>
					<p class="card-text">60€ persona/noche</p>
					<a href="#" class="btn btn-primary align-middle" style="background-color:#e1871d; border-color:#e1871d">Ver más</a>
				</div>
			</div>
		</div>

	</div>
</div>





