@page "/campings"

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb breadcrumb-dark">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Library</a></li>
		<li class="breadcrumb-item active" aria-current="page">Data</li>
	</ol>
</nav>

<div style="text-align: center">
	<h1>Listado de campamentos</h1>

	Echa un vistazo a los campamentos disponibles

	<div class="grid-container">
		<div class="card mx-5" style="width: 18rem;">
			<img src="/images/estanocheoscuratetorturalalocura.webp" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Placeholder de descripción, your mother</p>
				<a href="#" class="btn btn-primary align-middle">Go somewhere</a>
			</div>
		</div>
	</div>

</div>



