@page "/comparator"
@using DAL.Models
@inject HttpClient Http

<div style="text-align:center">
	<h1 style="color:#d9d9d9">Comparador de campamentos</h1>

	<h3 style="color:#d9d9d9">Diferencia dos campamentos</h3>
</div>
