@page "/campings/{Id}"
@using DAL.Models
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9; margin-bottom:5px;">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item"><a href="campings">Campamentos</a></li>
			<li class="breadcrum-item active" aria-current="page">@Camp?.Name</li>
		</ol>
	</nav>
</div>

<h1 style="color:#d9d9d9">@Camp?.Name</h1>

<div>
	<div>
        <div id="@carouselName" class="carousel slide" data-ride="carousel" style="width:50%; padding:10px; display:inline-block;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img class="d-block w-50" src="/images/unovecositasydicemmm.jpg" alt="First slide">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img class="d-block w-50" src="/images/unovecositasydicemmm.jpg" alt="Second slide">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img class="d-block w-50" src="/images/unovecositasydicemmm.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
		<div style="display:inline-block;">
			<h3 style="color:#000000">Nombre:</h3><h3 style="color:#d9d9d9"> @Camp?.Name</h3><br />
			<h3 style="color:#000000">Localidad:</h3><h3 style="color:#d9d9d9"> @Camp?.Locality</h3><br />
			<h3 style="color:#000000">Precio:</h3><h3 style="color:#d9d9d9"> @Camp?.Price</h3><br />
			<h3 style="color:#000000">Servicios:</h3><br />
			<h3 style="color:#000000">Aforo:</h3><br />
			<h3 style="color:#000000">Contacto:</h3><br />
			<div>
				<!--ratings y solicitar-->
			</div>
		</div>
	</div>
	<h2>Descripción:</h2>
	<div>
		<a>@Camp?.Description</a>
	</div>
	<h2>Comentarios:</h2>
	<div>
		<!-- Comentarios -->
	</div>
</div>