@page "/campings/{Id}"
@using DAL.Models
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<style>
    .star {
        font-size: 5vh;
        cursor: pointer;
        color: #d9d9d9;
    }

    .rated {
        color: #e1871d;
    }

</style>

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9; margin-bottom:5px;">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item"><a href="campings">Campamentos</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Camp?.Name</li>
		</ol>
	</nav>
</div>

<div style="text-align:center">
	<h1 style="color:#d9d9d9">@Camp?.Name</h1>
</div>


<div>
	<div style="vertical-align:middle;">
        <div id="@carouselName" class="carousel slide" data-ride="carousel" style="width:50%; padding:10px; display:inline-block;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
						@if(Camp != null)
						{
							<img class="d-block w-75" src="data:image/png;base64,@Convert.ToBase64String(Camp.Portrait)" alt="First slide">
						}					
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img class="d-block w-100" src="/images/unovecositasydicemmm.jpg" alt="Second slide">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img class="d-block w-100" src="/images/unovecositasydicemmm.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
		<div style="display:inline-block; height:100%;">
			<h2 style="color:#e1871d">Nombre:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Name</h2></h2>
			<h2 style="color:#e1871d">Localidad:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Locality</h2></h2>
			<h2 style="color:#e1871d">Precio:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Price € persona/noche</h2></h2>
			<h2 style="color:#e1871d">Servicios:&nbsp;&nbsp;&nbsp;</h2>
			<h2 style="color:#e1871d">Aforo:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Capacity personas</h2></h2>
			<h2 style="color:#e1871d">Contacto:&nbsp;&nbsp;&nbsp;</h2>
			<div>
                <span onclick="gfg(1)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(2)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(3)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(4)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(5)"
                      class="star">
                    ★
                </span>
			</div>
		</div>
	</div>
	<div style="margin-left:20px;">
		<h2 style="color:#e1871d">Descripción:</h2>
		<div>
			<p style="color:#d9d9d9; font-size:medium">@Camp?.Description</p>
		</div>
		<h2 style="color:#e1871d">Comentarios:</h2>
		<div>
			<!-- Comentarios -->
		</div>
	</div>
</div>