@page "/"
@inject IJSRuntime JsRuntime;

<PageTitle>Home</PageTitle>

<div style="text-align: center">
    <h1 style="color:#d9d9d9">¡Bienvenido a CampSiteBySide!</h1>

    <h3 style="color:#d9d9d9">Encuentra y compara los mejores campamentos</h3>

    <div id="@carouselName" class="carousel slide mt-2" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img class="d-block w-25" src="/images/unovecositasydicemmm.jpg" alt="First slide">
                </div> 
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="d-block w-25" src="/images/unovecositasydicemmm.jpg" alt="Second slide">
                </div>               
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="d-block w-25" src="/images/unovecositasydicemmm.jpg" alt="Third slide">
                </div>                
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <br/>

    <div>
        <Button class="btn btn-lg btn-primary" style="background-color:#e1871d; border-color:#e1871d">Buscar</Button>
        <Button class="btn btn-lg btn-primary" style="background-color:#e1871d; border-color:#e1871d">Comparar campamentos</Button>
    </div>
</div>

@code {
    const string carouselName = "carouselExampleIndicators"; // NOTE: the ID of the carousel

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        object[] args = { carouselName };
        await JsRuntime.InvokeVoidAsync("startCarousel", args); // NOTE: call JavaScript function with the ID of the carousel
    }
}