<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="">CampSiteBySide</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="bi bi-house-door-fill d-inline"> Página principal</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="campings">
                    <i class="bi bi-tree-fill d-inline"> Campamentos</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-search d-inline"> Buscar</i>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0">Inicia sesión</button>
        </form>
    </div>
</nav>