@using DAL.Models
@using CampingWebAssembly.Services.Interfaces

@inject HttpClient http
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2 mb-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="">CampSiteBySide</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="bi bi-house-door-fill d-inline"> Página principal</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="campings">
                    <i class="bi bi-tree-fill d-inline"> Campamentos</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map">
                    <i class="bi bi-map d-inline"> Mapa</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="comparator">
                    <i class="bi bi-exclude d-inline"> Comparar</i>
                </a>
            </li>
            @if(LoggedUser != null && LoggedUser.IsResponsible)
            {
                <li class="nav-item">
                    <a class="nav-link" href="requests">
                        <i class="bi bi-bookmark-fill d-inline"> Reservas</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="publish">
                        <i class="bi bi-plus-circle-fill d-inline"> Publicar campamento</i>
                    </a>
                </li>
            }
            else if(LoggedUser != null && !LoggedUser.IsResponsible)
            {
                <li class="nav-item">
                    <a class="nav-link" href="requestsUser">
                        <i class="bi bi-send-fill d-inline"> Solicitudes</i>
                    </a>
                </li>
            }
        </ul>
        <div class="form-inline ms-auto">
            @if(LoggedUser != null)
            {
                <div>
                    <i style="color:#d9d9d9">@LoggedUser.Name</i><br />
                    <i style="color:#d9d9d9">@LoggedUser.Mail</i>
                </div>
                <button class="btn btn-outline-warning my-2 my-sm-0" style="display:inline-block; margin-left:15px" @onclick="Logout">Cerrar sesión</button>
            }
            else
            {
                <button class="btn btn-outline-success my-2 my-sm-0" @onclick="OnShowModalClick">Inicia sesión</button>
            }           
        </div>
    </div>
</nav>

<Modal @ref="loginModal" Title="Inicia sesión">
    <BodyTemplate>
        <form @onsubmit="Login">
            <div class="form-group">
                <label for="userEmail">Correo electrónico</label>
                <input type="email" class="form-control" id="userEmail" @bind-value="credentials[0]" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">               
            </div>
            <br/>
            <div class="form-group">
                <label for="userPassword">Contraseña</label>
                <input type="password" class="form-control" id="userPassword" @bind-value="credentials[1]" placeholder="Contraseña">
            </div>
            <br/>
            <button type="submit" style="margin-bottom: 5px; margin-right:15px" class="btn btn-primary">Inicia sesión</button>
            <a href="register" class="text-right" @onclick="loginModal.HideAsync" style="color:grey; font-size:12px">¿No tienes una cuenta? Regístrate</a>
            <p class="text-left" style="color: red">@warningText</p>
        </form>
    </BodyTemplate>
</Modal>

                   